.gradle
build/

### IntelliJ IDEA ###
.idea/

### Kotlin ###
.kotlin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Extra ###
connection-gate/server-connection-plugin
connection-gate/test_impl.go

.idea/
connection-gate/simplecloud-connection